<h2>productos</h2>
<ul>
  <li><a href= <%=url + "/producto-1" %> > producto 1 </a></li>
  <li><a href= <%=url + "/producto-2" %> > producto 2 </a></li>
  <li><a href= <%=url + "/producto-3" %> > producto 3 </a></li>
</ul>
<%- include("./partials/backBtn") %> 
