<h1> Bienvenido: <%= usuario %> </h1>
<form action=<%="/usuario/bienvenido/"+usuario  %>  method="post">
    <label for="mostrarC"> Ingrese su contraseña para que la muestre</label>
    <br>
    <input type="password" name="mosrtarC" id="MostrarC" placeholder="Su contraseña">
    <button type="submit">enviar</button>
</form>